.common-header {
  background: #fff;
  height: 56px;
  width: 100%;
  .header-main {
    max-width: 1440px;
    margin: 0 auto;
    height: 100%;
    line-height: 56px;
    .el-dropdown-link {
      cursor: pointer;
      color: #409EFF;
    }
    .el-icon-arrow-down {
      font-size: 12px;
    }
    .create-platform-btn {
      margin-left: 30px;
      width: 120px;
      height: 32px;
      background:rgba(37,137,255,1);
      border-radius: 2px;
      outline: 0;
      border: 0;
      color: #fff;
      &:hover {
        opacity: .9;
      }
    }
  }
  @media only screen and (max-width: 1440px) {
    .header-main {
      padding: 0 20px;
    }
  }
}